
.caja{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em;
    
}

.log-in{
    background-color: rgb(66, 109, 250);
     border-style: none;
     box-shadow: 1px 2px 8px #444444;
     color: white;
     font-size: 20px;
    justify-content: center;
    padding: 5px;


}

.log-in:active{
    box-shadow: 1px 2px 8px #f5f5f5 
}

#modal{
    border-style: none;
    box-shadow: 2px 2px 9px #444444;
}
.cajaInput{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 2em;
}
#usuario , #Pass{
    margin: 1em;
    height: 2em;
    max-width: 100%;
}

label{
    text-align: start;
    font-size: 17px;
}


.exit{
    padding: 4px;
    border-radius: 2em ;
    background-color: red;
    box-shadow: 2px 2px 8px #444444;
}

.exit:active{
    box-shadow: 2px 2px 8px #f5f5f5;
}