
.caja{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em;
    
}

.log-in{
    background-color: rgb(66, 109, 250);
     border-style: none;
     box-shadow: 1px 2px 8px #444444;
     color: white;
     font-size: 20px;
    justify-content: center;
    padding: 5px;


}

.log-in:active{
    box-shadow: 1px 2px 8px #f5f5f5 
}